@tailwind base;

@layer base {
  input:-webkit-autofill {
    @apply transition-all duration-[9999s];
  }

  :root input:-webkit-autofill {
    @apply bg-white text-black;
    -webkit-text-fill-color: black;
  }

  :root.dark input:-webkit-autofill {
    @apply bg-[#1f1f1f] text-white;
    -webkit-text-fill-color: white;
  }
}

@tailwind components;
/*  */
@tailwind utilities;

@layer utilities {
  .hide-scrollbar-p::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar-p {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.leaflet-control-attribution {
  display: none !important;
}

.blinking-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1s infinite;
}

/* @keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
/* ::-webkit-scrollbar-thumb {
  background-color: #ff0000;
   border-radius: 40px; 
}  
::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
} */

.scroll-container {
  overflow: auto;
  scrollbar-width: thin;
  /* scrollbar-color: #444 #1e1e1e; */
}
